<td>
    Item by
    Category

        <select #category (change)="getFilterData(category.value)">
            <option> Pure Veg </option>
            <option> Non Veg </option>
        </select>


</td><br>
<td>
    Item by itemName
    

        <select #itemName (change)="getFilteritemName(itemName.value)">
            <option> biryani </option>
            <option> samosa </option>
            <option> chicken </option>
            <option> roti </option>
            <option> fish </option>
        </select>


</td>




<div *ngFor="let i of allItems" style="background-color:rgb(244, 166, 138);">
    <table>
        <tr>
            <td> <img src="/assets/images/{{i.imageName}}" alt=" Item image" width="150px" height="150px">
            </td>
            <td>
                <h2>{{i.itemName}} </h2>
                <hr/>
                <p> {{i.category}} </p>
                <br>
                <h4>{{i.cost}}</h4>
                
            </td>
        </tr>  
            
        
        <hr>
    </table>
    
</div>
